# Virtual environment
opinion/
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Data
data/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/
